<div class="top-flag">
  <div class="p-grid">
    <div class="p-col">
      <div class="box">Create new invoice</div>
    </div>
  </div>
</div>

<div class="invoice p-grid">
  <div class="inner-box p-col-10 p-offset-1">
    <div class="box">
      <div class="p-grid p-justify-end">
        <div class="p-col-6 p-md-3 p-lg-3">
          <div class="head-text right box"><span>Invoice</span></div>
        </div>
      </div>

      <div class="header">
        <div class="p-grid p-justify-end">
          <div class="p-col-12 p-md-3 p-lg-3" [ngStyle]="{'height': invoiceRes ? '' : '65px'}">
            <div class="invoice-number right box" *ngIf="invoiceRes">
              <p><b>Invoice number:</b> {{invoiceNo}}</p>
              <p><b>Issued on:</b> {{issuedOn}}</p>
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-4">
            <div class="box">
              <div class="invoice-number left box">
                <p><b>{{customer.name}}</b></p>
                <p>{{customer.date}}</p>
                <p>Passport: {{customer.passport}}</p>
                <p>Issuing country: {{customer.country}}</p>
                <p>Residency country: {{customer.residency}}</p>
              </div>
            </div>
          </div>
          <div class="p-col-4 p-offset-4">
            <div class="box">
              <div class="invoice-number right box">
                <p><b>{{company.name}}</b></p>
                <p>{{company.code}}</p>
                <p>{{company.address}}</p>
                <p>{{company.zip}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-container p-grid">
        <ng-container *ngIf="showLabels">
          <div class="form p-col-12 p-md-6 p-lg-2">
            <div class="box left"><p><b>Code</b></p></div>
          </div>
          <div class="form p-col-12 p-md-6 p-lg-4">
            <div class="box left"><p><b>Description</b></p></div>
          </div>
          <div class="form p-col-12 p-md-6 p-lg-1">
            <div class="box right"><p><b>Qty.</b></p></div>
          </div>
          <div class="form p-col-12 p-md-6 p-lg-2">
            <div class="box right">
              <p><b>Price</b></p>
              <span class="include">including VAT</span>
            </div>
          </div>
          <div class="form p-col-12 p-md-6 p-lg-1">
            <div class="box right"><p><b>VAT</b></p></div>
          </div>
          <div class="form p-col-12 p-md-6 p-lg-2">
            <div class="box right"><p><b>Net</b></p></div>
          </div>
        </ng-container>
        <hr>
        <form class="form-inline ui-fluid" (ngSubmit)="requestInvoice()" #invoiceForm="ngForm" *ngFor="let product of products; let i = index;">
          <div class="for-content" >
            <div class="form p-col-10 p-md-6 p-lg-2">
              <div class="box">
                <i class="delete-button fas fa-minus-circle" (click)="removeRow(i)" *ngIf="i !== 0 || products.length > 1"></i>
                <label *ngIf="!showLabels">Code</label>
                <div class="ui-inputgroup ">
                  <input type="text" pInputText placeholder="Code" pattern="^[a-zA-Z0-9]*$" [(ngModel)]="product.code" name="code">
                </div>
              </div>
            </div>
            <div class="form p-col-10 p-md-6 p-lg-4">
              <div class="box">
                <label *ngIf="!showLabels">Description</label>
                <div class="ui-inputgroup">
                  <input type="text" pInputText placeholder="Description" required minlength="5"
                         [(ngModel)]="product.description" name="description">
                </div>
              </div>
            </div>
            <div class="form p-col-10 p-md-6 p-lg-1">
              <div class="box">
                <label *ngIf="!showLabels">Qty.</label>
                <div class="ui-inputgroup">
                  <input type="text" pInputText required minlength="1" pattern="^[0-9]*$"
                         [(ngModel)]="product.quantity" name="quantity" (blur)="calculateNet(product)">
                </div>
              </div>
            </div>
            <div class="form p-col-10 p-md-6 p-lg-2">
              <div class="box">
                <label *ngIf="!showLabels">Price</label>
                <div class="ui-inputgroup">
                  <input class="right-set" placeholder="€0.00" type="text" pInputText required pattern="^[€]?\d+([.]\d+)?$"
                         [(ngModel)]="product.price" name="price" (blur)="calculateNet(product)">
                </div>
              </div>
            </div>
            <div class="form p-col-10 p-md-6 p-lg-1">
              <div class="box">
                <label *ngIf="!showLabels">VAT</label>
                <div class="ui-inputgroup" [ngStyle]="{'position': 'relative', 'z-index': (1000 - i).toString()}">
                  <p-dropdown [options]="vatOptions" [(ngModel)]="product.vat" [ngModelOptions]="{standalone: true}"
                              required [style]="{'width':'75px'}" (onChange)="calculateNet(product)"></p-dropdown>
                </div>
              </div>
            </div>
            <div class="form p-col-10 p-md-6 p-lg-2">
              <div class="box right">
                <label *ngIf="!showLabels">Net</label>
                <p>{{product.net | currency:'EUR'}}</p>
              </div>
            </div>
            <div style="width: 100%" *ngIf="i === products.length - 1">
              <a class="add-button" (click)="addNewRow()"><span>+</span></a>
            </div>
          </div>
        </form>
        <hr>
      </div>
      <div class="resume">
        <div class="p-grid p-justify-end">
          <div class="res-box p-col-8 p-md-6 p-lg-4">
            <div class="box">
              <p><b>Subtotal</b><span>{{subtotal | currency:'EUR'}}</span></p>
              <p><b>Net discount</b><span>
                <input class="right-set fixin" placeholder="€0.00" type="text" pInputText pattern="^[€]?\d+([.]\d+)?$" [(ngModel)]="discount" (blur)="updateTotals()">
              </span></p>
              <p class="total"><b>Total</b><span>{{total | currency:'EUR'}}</span></p>
              <button pButton type="button" class="ui-button-raised ui-button-rounded" label="ROUND CENTS"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ribbon box">
    </div>
  </div>
</div>

<div class="bottom-button">
  <div class="p-grid">
    <div class="p-col">
      <div class="box">
        <button pButton type="button" class="ui-button-raised ui-button-rounded" label="CREATE INVOICE"></button>
      </div>
    </div>
  </div>
</div>
